.header{
    text-align: center;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 44px;
}

.img{
width: 1000px;
height: 270px;
margin-left: 300px;
background: url(image.png);
}

.text{
    width:680px;
    height: 600px;;
    margin:50px 0 0 450px; 
    color:#292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 150.6%;
}


.vdo{
    background-image: url(Rectangle.png);
    margin:30px 0 0 450px; 
    width: 663px;
    height: 282px;
}

.p{
    margin:30px 0 0 450px; 
    width: 663px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 21px;
    line-height: 150.6%;
    color: #292929;
}

.footer{
    margin-top:90px; 
    margin-left: 450px;
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 150.6%;
    color: #292929;
}